My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Megbcb1RmTikjf6yxiNfUaEyMMFKvxEniGBpqnu-uk8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Megbcb1RmTikjf6yxiNfUaEyMMFKvxEniGBpqnu-uk8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        -32
      ],
      "id": "058f6dfa-c9f6-4d9a-b5bd-67fb82881018",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhWQANOoXzbhb2jT",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const data = item.json;\n  const errors = [];\n\n  const fullName = (data['Full Name'] || '').toString().trim();\n  const email = (data['Email'] || '').toString().trim();\n  const university = (data['University'] || '').toString().trim();\n  const gpaRaw = data['GPA'];\n\n  if (!fullName) errors.push('Missing full name');\n\n  if (!email) {\n    errors.push('Missing email');\n  } else {\n    const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n    if (!emailRegex.test(email)) errors.push('Invalid email format');\n  }\n\n  if (!university) errors.push('Missing university');\n\n  const gpa = parseFloat(gpaRaw);\n  const gpaValid = !isNaN(gpa) && gpa >= 0 && gpa <= 4.0;\n  if (!gpaValid) errors.push('Missing or invalid GPA (expected 0.0-4.0 scale)');\n\n  results.push({\n    json: {\n      ...data,\n      gpaParsed: gpaValid ? gpa : null,\n      isValid: errors.length === 0,\n      validationErrors: errors.join('; ')\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -32
      ],
      "id": "d45f6bc9-4aba-440c-b228-d0c470c0bb6d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "099738ea-97a6-4378-98cb-03242a0cd111",
              "leftValue": "={{ $json.GPA }}",
              "rightValue": 2.1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "15c97b16-9359-4a60-bebd-75ddf8c6c09f",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        -32
      ],
      "id": "efea0ce7-5f6a-4794-bdd5-30aae0a129ba",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4c1d1d4-6e22-4756-8d17-624e1be5e5fc",
              "name": "Decison",
              "value": "Not Eligible",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        208
      ],
      "id": "952949e4-6a25-44f4-a11d-5d0150d07955",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89153e8b-4d17-4e1e-8771-3d535af22e8d",
              "leftValue": "={{ $json.GPA }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        -48
      ],
      "id": "758e9ca3-14c9-48ba-bacf-1a4f3e868698",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d964e1fe-e703-40b6-b306-e99695b06e10",
              "name": "Decison",
              "value": " Needs Review",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -32
      ],
      "id": "8762c2c1-33d1-4814-bf6c-2bcec2ccfed5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d964e1fe-e703-40b6-b306-e99695b06e10",
              "name": "Decison",
              "value": "Shortlisted",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -320
      ],
      "id": "ca8c6a60-1eb5-4a00-9a3e-b894849cfc93",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Congratulations — You Have Been Shortlisted for Our Internship Program",
        "emailType": "text",
        "message": "=Dear {{ $json['Full Name'] }},  I am pleased to inform you that, following a review of your application, you have been shortlisted for our internship program. Your academic background and skills were well aligned with the requirements of this position.  Our team will be in touch shortly with further details regarding the next steps in the selection process.  Thank you for your interest in this opportunity, and congratulations once again.  Sincerely, Internship Hiring Team ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        -240
      ],
      "id": "952e348d-ea9a-4811-a2b8-880dba7b5fd0",
      "name": "Send a message",
      "webhookId": "1aaa4dba-dc3f-4495-b2c2-5ad8ebe52830",
      "credentials": {
        "gmailOAuth2": {
          "id": "3f1OICnvVYmXgwUA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Your Internship Application Is Under Review",
        "emailType": "text",
        "message": "=Dear,{{ $json['Full Name'] }} \n\nThank you for submitting your application for our internship program. We would like to inform you that your application is currently under further review by our team.\n\nWe appreciate your patience and will notify you of any updates regarding the status of your application in due course.\n\nThank you for your continued interest.\n\nSincerely,\nInternship Hiring Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        -16
      ],
      "id": "42a86988-27c8-4f97-a15b-538a81a7ad8b",
      "name": "Send a message1",
      "webhookId": "1aaa4dba-dc3f-4495-b2c2-5ad8ebe52830",
      "credentials": {
        "gmailOAuth2": {
          "id": "3f1OICnvVYmXgwUA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Update on Your Internship Application",
        "emailType": "text",
        "message": "=Dear {{ $json['Full Name'] }} ,\n\nThank you for your interest in our internship program and for taking the time to submit your application. After careful review, we regret to inform you that your application does not meet the eligibility requirements for this cycle.\n\nWe encourage you to apply again in future recruitment cycles, and we wish you continued success in your endeavors.\n\nSincerely,\nInternship Hiring Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        224
      ],
      "id": "b04c4eb1-792d-4acb-8863-4808d8a130ea",
      "name": "Send a message2",
      "webhookId": "1aaa4dba-dc3f-4495-b2c2-5ad8ebe52830",
      "credentials": {
        "gmailOAuth2": {
          "id": "3f1OICnvVYmXgwUA",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        -48
      ],
      "id": "3be0c7b0-0c43-42e5-a738-027069292de4",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Megbcb1RmTikjf6yxiNfUaEyMMFKvxEniGBpqnu-uk8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Megbcb1RmTikjf6yxiNfUaEyMMFKvxEniGBpqnu-uk8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Decision": "={{ $json.Decison }}",
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "University",
              "displayName": "University",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Degree",
              "displayName": "Degree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GPA",
              "displayName": "GPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Availability",
              "displayName": "Availability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -32
      ],
      "id": "844c980e-ac07-49ae-9ae1-6924ef1f0dc6",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhWQANOoXzbhb2jT",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Decision }}",
                    "rightValue": "Shortlisted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f329c02-09e5-47a5-bd07-8b55586ca43e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1414a80d-30ec-47d2-9cdb-32d38c3ec320",
                    "leftValue": "={{ $json.Decision }}",
                    "rightValue": " Needs Review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b371143e-1cb2-4453-b703-51d5b28bf644",
                    "leftValue": "={{ $json.Decision }}",
                    "rightValue": "Not Eligible",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        752,
        -32
      ],
      "id": "a387763a-b32a-4a75-bc7e-e6592a4222b4",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3e7656d0-806e-4919-81fe-e67ae70771a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19b20340ed07e1c6164b16b51f151f17469e202d38987bd410fe8f4fc47ae4b1"
  },
  "nodeGroups": [],
  "id": "broi6gCVx6dsL1LF",
  "tags": []
}